/* if there is a problem with tradition delays - check if transition-delay does not collide with transition */

.start > body {
  overflow: hidden !important;
}

#playground-title {
  font-size: 33px;
  text-align: center;
  font-family: sans-serif;
  color: var(--start-header-color);
  transition: 1s;
  margin-top: 30px;
  margin-bottom: 60px;
}

#playground-chat-list-parent {
  display: flex;
  justify-content: center;
}

#playground-chat-list {
  width: 1200px;
  overflow: auto;
  scroll-behavior: smooth;
  position: relative;
}

#playground-bottom-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: right;
  pointer-events: none;
}

#playground-bottom-buttons {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  /* enabling as panel background does not have events */
  pointer-events: all;
}
