/* if there is a problem with tradition delays - check if transition-delay does not collide with transition */

.start > body {
  overflow: hidden !important;
}

#playground-title {
  font-size: 33px;
  text-align: center;
  font-family: sans-serif;
  color: var(--start-header-color);
  transition: 1s;
  margin-bottom: 20px;
}

#playground-chat-list-parent {
  display: flex;
  justify-content: center;
}

#playground-chat-list {
  width: 1200px;
  overflow: auto;
  scroll-behavior: smooth;
  position: relative;
}

#playground-bottom-buttons {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
