.playground-information-modal-item {
  display: flex;
}

#playground-information-modal-shield {
  width: 26px;
  margin-right: 12px;
  padding-bottom: 22px;
}

#playground-information-modal-video {
  width: 27px;
  padding-bottom: 1px;
  margin-right: 10px;
}

.playground-information-modal-icon {
  filter: var(--playground-information-modal-filter);
}

#playground-information-modal-close-button {
  margin-bottom: 1px;
}
