#upload-images-icon {
  position: absolute;
  pointer-events: none;
  width: 1.31rem;
  height: 1.31rem;
  left: 0.11rem;
  bottom: 0.08rem;
  filter: brightness(0) saturate(100%) invert(43%) sepia(0%) saturate(740%) hue-rotate(77deg) brightness(99%) contrast(92%);
}
