#layout-management {
  margin-top: 120px;
}

#layout-management-content {
  display: flex;
  margin-top: 30px;
}

.layout-management-panel {
  width: 50%;
}

.layout-management-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
