#speech {
  margin-top: 120px;
}

#speech-content {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 40px;
}

#speech-panel-left {
  width: 50%;
  justify-content: center;
  display: flex;
}

#speech-panel-right {
  width: 50%;
  display: flex;
}

.speech-text {
  text-align: center;
  font-size: 20px;
  width: 75%;
  margin-left: 160px;
  margin-top: 100px;
}

#speech-panel-right deep-chat {
  margin-left: 150px;
}

.speech-content-hidden {
  opacity: 0;
  transition: all 2s;
}

.speech-content-visible {
  opacity: 1;
  transition: all 2s;
}
