#keyboard-input-container {
  background-color: white;
  width: 100%;
  display: flex;
  border: 1px solid #0000001a;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 12px;
  overflow-y: auto;
}

#keyboard-input {
  width: calc(100% - 31px);
  text-align: left;
  outline: none;
  padding: 6px 0px 5px 7px;
  word-wrap: break-word;
  min-height: 18px;
}

.keyboard-input-default {
  color: grey;
}
