#column-types {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

#connect-left-panel {
  width: 50%;
}

#connect-left-panel deep-chat {
  margin-left: auto;
  margin-right: 300px;
  display: table;
  transition: all 1.5s;
}

.animation-class #column-types #connect-left-panel deep-chat {
  margin-left: auto;
  margin-right: 120px;
  display: table;
}

#connect-right-panel {
  width: 50%;
}

.connect-right-panel-text {
  text-align: center;
  font-size: 20px;
  width: 80%;
  margin-top: 100px;
  margin-left: 120px;
  transition: all 1.5s;
}

.animation-class #column-types #connect-right-panel .connect-right-panel-text {
  margin-left: 0px;
}
