.outside-right > #dropup-menu,
.inside-right > #dropup-menu {
  right: 0px;
}

#dropup-icon {
  position: absolute;
  pointer-events: none;
  width: 1.16em;
  height: 1.2em;
  left: 0.265em;
  bottom: 0.43em;
  filter: brightness(0) saturate(100%) invert(54%) sepia(0%) saturate(724%) hue-rotate(6deg) brightness(92%) contrast(90%);
}

#dropup-menu {
  background-color: white;
  position: absolute;
  transform: translate(0px, -100%);
  border-radius: 5px;
  z-index: 1;
  top: -0.49em;
  box-shadow:
    rgba(0, 0, 0, 0.2) -1px 2px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  cursor: pointer;
  user-select: none;
}

.dropup-menu-item {
  height: 1.4em;
  padding-left: 0.35em;
  padding-right: 0.84em;
  padding-top: 0.28em;
  padding-bottom: 0.28em;
  display: flex;
  position: relative;
}

.dropup-menu-item:hover,
.dropup-menu-item:focus-visible {
  background-color: #f3f3f3;
}

.dropup-menu-item:active {
  background-color: #ebebeb;
}

/* Bug fix for when the user clicks on an item then drags away the mouse which used to still display :active css */
/* which applied default active css instead of user custom active css */
.dropup-menu-item:active:not(:hover) {
  background-color: transparent;
}

.dropup-menu-item:first-child {
  padding-top: 0.49em;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.dropup-menu-item:last-child {
  padding-bottom: 0.45em;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.dropup-menu-item-icon {
  width: 1.39em;
  position: relative;
  margin-right: 0.56em;
}

.dropup-menu-item-icon > svg {
  bottom: 0 !important;
  top: 0 !important;
  margin-bottom: auto;
  margin-top: auto;
}

.dropup-menu-item-text {
  margin-top: 0.08em;
  width: max-content;
}

.dropup-menu-item-active {
  background-color: #edf7ff;
  color: #0285ff;
}

.dropup-menu-item-active:hover,
.dropup-menu-item-active:focus-visible {
  background-color: #def0ff;
}

.dropup-menu-item-active:active {
  background-color: #d2eaff;
}

.dropup-menu-item-active > .dropup-menu-item-icon {
  filter: brightness(0) saturate(100%) invert(32%) sepia(34%) saturate(4196%) hue-rotate(196deg) brightness(107%)
    contrast(104%);
}

.dropup-menu-item-disabled {
  color: #aeaeae;
  cursor: auto;
}

.dropup-menu-item-disabled > div {
  pointer-events: none;
}

.dropup-menu-item-disabled:hover,
.dropup-menu-item-disabled:focus-visible {
  background-color: transparent;
}

.dropup-menu-item-disabled:active {
  background-color: transparent;
}

.dropup-menu-item-disabled > .dropup-menu-item-icon {
  filter: brightness(0) saturate(100%) invert(67%) sepia(0%) saturate(818%) hue-rotate(28deg) brightness(102%)
    contrast(100%);
}
