#content {
  display: flex;
  justify-content: center;
}

#content-left {
  width: 50%;
  justify-content: right;
  display: flex;
}

#content-right {
  display: flex;
  width: 50%;
  padding-left: 140px;
}

.content-top {
  transition: all 1s;
  margin-top: 50px;
}

.content-bottom {
  margin-top: 250px;
}

.column-types-text {
  text-align: center;
  font-size: 20px;
  width: 80%;
  margin-top: 100px;
}
