#responsive-design-resizer-container {
  width: 40px;
  position: relative;
  cursor: col-resize;
  user-select: none;
}

#responsive-design-resizer {
  width: 5px;
  height: 100%;
  border-radius: 5px;
  user-select: none;
  margin-left: auto;
  margin-right: auto;
}

#responsive-design-resizer-handle {
  position: absolute;
  width: 14px;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  pointer-events: none;
}

#responsive-design-resizer-handle-dot-container {
  margin-left: auto;
  margin-right: auto;
  width: 8px;
}

.responsive-design-resizer-handle-dots {
  width: 2px;
  top: 0px;
  margin-top: 2px;
}

.responsive-design-resizer-handle-dot {
  height: 2px;
  width: 2px;
  margin-top: 5px;
  background-color: rgb(212, 212, 212);
}
