#submit-button-container {
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 4px;
  bottom: 14px;
  width: 22px;
  height: 22px;
}

#submit-button-container:hover {
  background-color: #9c9c9c2e;
}

#submit-button-container:active {
  background-color: #9c9c9c5e;
}

.clickable-icon {
  position: absolute;
  right: -4px;
  top: -1px;
}

#stop-icon {
  background-color: #acacac;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
}
