#column-types {
  display: flex;
  margin-top: 80px;
}

#column-types-left {
  float: left;
  width: 50%;
}

#column-types-right {
  float: right;
  width: 50%;
}

#column-types-right-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
