.main {
  font-family: sans-serif;
  text-align: center;
}

.main deep-chat {
  display: flex;
  justify-content: center;
}

.components {
  display: flex;
  justify-content: center;
}

.components > * {
  margin: 0 20px;
}
