#microphone-button {
  padding-top: 0.5px;
  padding-bottom: 1px;
}

#microphone-icon {
  position: absolute;
  pointer-events: none;
  width: 1.1em;
  height: 1.1em;
  left: 0.2em;
  bottom: 0.25em;
}

.default-microphone-icon {
  filter: brightness(0) saturate(100%) invert(32%) sepia(0%) saturate(924%) hue-rotate(46deg) brightness(95%) contrast(99%);
}

.active-microphone-icon {
  filter: brightness(0) saturate(100%) invert(9%) sepia(100%) saturate(6945%) hue-rotate(250deg) brightness(98%)
    contrast(129%);
  background-color: rgba(255, 0, 0, 0.025);
  border-radius: 10px;
}

.unsupported-microphone {
  display: none;
}
