.playground-chat-wrapper {
  float: left;
  height: 440px;
  min-width: 400px;
}

.playground-chat-wrapper-scale-shrunk {
  transform: scale(0);
  transition: 0.4s;
}

.playground-chat-wrapper-scale-expanded {
  transform: scale(1);
}

.playground-chat-wrapper-width-shrunk {
  width: 0px;
  min-width: 0px;
}

.playground-chat-wrapper-width-expanded {
  width: 400px;
}

.playground-chat-animated {
  transition: 0.5s;
}

.playground-chat-wrapper-dragging {
  position: absolute;
  z-index: 1;
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.playground-chat-wrapper-dragging > *,
.playground-chat-wrapper-dragging > * > * {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

#playground-chat-drag-handle {
  /* sortablejs makes the draggable element use mouse-events: none; hence there is no custom cursor when dragging */
  cursor: grab;
}
