.playground-chat-wrapper {
  float: left;
  height: 440px;
  min-width: 400px;
}

.playground-chat-wrapper-scale-shrunk {
  transform: scale(0);
  transition: 0.4s;
}

.playground-chat-wrapper-scale-expanded {
  transform: scale(1);
}

.playground-chat-wrapper-width-shrunk {
  width: 0px;
  min-width: 0px;
}

.playground-chat-wrapper-width-expanded {
  width: 400px;
}

.playground-chat-animated {
  transition: 0.5s;
}

.playground-chat-details {
  display: flex;
  padding-top: 18px;
  justify-content: center;
}

.playground-chat-configure-button {
  cursor: pointer;
  transition: 0.1s;
}

.playground-chat-configure-button:hover {
  transform: scale(1.15);
}

.playground-chat-description {
  font-size: 17px;
}

.playground-chat-drag-handle {
  /* sortablejs makes the draggable element use mouse-events: none; hence there is no custom cursor when dragging */
  cursor: grab;
  cursor: -webkit-grab;
}
