.avatar {
  padding-top: 5px;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1px;
}

.avatar-container {
  margin-top: 9px;
}

.ai-avatar {
  margin-right: 10px;
}

.user-avatar {
  margin-left: 10px;
}
