#messages {
  overflow: auto;
}

.inner-message-container {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.message-text {
  margin-top: 10px;
  word-wrap: break-word;
  width: fit-content;
  max-width: 60%;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.user-message-text {
  color: white;
  background-color: #0084ff;
  margin-right: 0px;
  margin-left: auto;
}

.ai-message-text {
  color: black;
  background-color: #e4e6eb;
  margin-left: 0px;
  margin-right: auto;
  min-height: 16px;
}

.error-message-text {
  margin-left: auto;
  margin-right: auto;
  background-color: #f4c0c0;
  color: #1a1a1a;
  text-align: center;
  max-width: 100%;
  border: 1px solid #ff9696;
  margin-top: 10px;
  margin-bottom: 10px;
}
