#validate-property-key-view {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

#loading-validate-key-property {
  display: inline-block;
  width: 50px;
  height: 50px;
}

#loading-validate-key-property:after {
  content: ' ';
  display: block;
  width: 38px;
  height: 38px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #5fb2ff;
  border-color: #5fb2ff transparent #5fb2ff transparent;
  animation: loading-spinner 1.4s linear infinite;
}
