#playground-information-icon {
  width: 21px;
  padding-bottom: 7.5px;
  filter: brightness(0) saturate(100%) invert(72%) sepia(0%) saturate(962%) hue-rotate(52deg) brightness(99%) contrast(96%);
}

#playground-information-icon:hover {
  filter: brightness(0) saturate(100%) invert(14%) sepia(0%) saturate(1246%) hue-rotate(284deg) brightness(102%)
    contrast(97%);
}
