#playground-service-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border: 1px solid grey;
  border-radius: 5px;
  z-index: 2;
  text-align: left;
  background-color: white;
  padding: 20px;
  padding-top: 10px;
}

#playground-service-modal > div {
  width: 100%;
}

#playground-service-modal-title {
  text-align: center;
}

.playground-service-modal-sub-title {
  margin-top: 10px;
}

.playground-service-modal-input-label {
  display: table-cell;
  white-space: nowrap;
  /* set to 1 in order to automatically use the largest field - must be above 0 for Safari */
  width: 1px;
  padding-right: 10px;
}

.playground-constructable-object {
  display: table;
}

#playgroud-service-modal-required-fields {
  display: table;
}

#playgroud-service-modal-required-fields > div {
  display: table-row;
}
