@import url('./uploadImages/uploadImagesButton.css');
@import url('./microphone/transcriptionText.css');
@import url('./microphone/microphoneButton.css');
@import url('./submit/submitButton.css');
@import url('./submit/loadingIcon.css');

.input-button {
  border-radius: 4px;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  bottom: 1rem;
  margin-bottom: 0.2rem;
}

.input-button:hover {
  background-color: #9c9c9c2e;
}

.input-button:active {
  background-color: #9c9c9c5e;
}

.loading-button {
  background-color: white;
  cursor: auto;
}

.loading-button:hover {
  background-color: white;
}

.loading-button:active {
  background-color: white;
}
