@import url('./microphone/microphoneButton.css');
@import url('./submit/submitButton.css');
@import url('./submit/loadingIcon.css');

.input-button {
  border-radius: 4px;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.input-button:hover {
  background-color: #9c9c9c2e;
}

.input-button:active {
  background-color: #9c9c9c5e;
}

.not-clickable-button {
  pointer-events: none;
}
