@import url('./microphone/microphoneButton.css');
@import url('./submit/submitButton.css');
@import url('./submit/loadingIcon.css');

.button-container {
  border-radius: 4px;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.button-container:hover {
  background-color: #9c9c9c2e;
}

.button-container:active {
  background-color: #9c9c9c5e;
}
