@import url('./uploadFile/uploadFileButtonIcon.css');
@import url('./microphone/transcriptionText.css');
@import url('./microphone/microphoneButton.css');
@import url('./submit/submitButton.css');

.input-button {
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0.2em;
  user-select: none;
}

.input-button-svg {
  width: 1.65em;
  height: 1.65em;
}

.input-button:hover,
.input-button:focus-visible {
  background-color: #9c9c9c2e;
}

.input-button:active {
  background-color: #9c9c9c5e;
}

/* Bug fix for when the user clicks on a button then drags away the mouse which used to still display :active css */
/* which applied default active css instead of user custom active css */
.input-button:active:not(:hover) {
  background-color: transparent;
}

.loading-button {
  cursor: auto;
}

.loading-button:hover {
  background-color: unset;
}

.text-button {
  filter: unset !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  height: 1.6em;
}
