.loading-history-message-full-view {
  position: absolute;
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
}

.loading-history-message-small {
  height: 20px;
  margin-bottom: 30px;
}

.loading-history-message-small > div > div {
  scale: 0.6;
}

.loading-history-message {
  margin-top: 0px;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: unset;
}

.loading-history {
  width: 70px;
}

.loading-history div {
  position: absolute;
  width: var(--loading-history-width);
  height: var(--loading-history-height);
  margin: var(--loading-history-margin);
  border: var(--loading-history-border) solid;
  border-radius: 50%;
  animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--loading-history-color) transparent transparent transparent;
}

.loading-history div:nth-child(1) {
  animation-delay: -0.45s;
}

.loading-history div:nth-child(2) {
  animation-delay: -0.3s;
}

.loading-history div:nth-child(3) {
  animation-delay: -0.15s;
}
