#start-panel {
  background: var(--homepage-background);
  position: relative;
  width: 100%;
  height: calc(100vh - 20px);
  min-height: 567px;
  /* prevents panels below from moving to the side if the user adds new rows to the table */
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  border-bottom-left-radius: 100% 9%;
  border-bottom-right-radius: 100% 9%;
}

#start-panel-content {
  position: absolute;
  transform: translateY(-50%);
  top: 40%;
  left: 10%;
  width: 80%;
  text-align: center;
}

#start-panel-header {
  font-weight: 700;
  letter-spacing: -1.2px;
  font-size: 3.7rem;
  color: var(--homepage-header-color);
}

#start-panel-sub-header {
  margin-top: -5px;
  font-weight: 600;
  font-size: 2.65rem;
  font-family: 'inter_webfont', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

#start-panel-animation-content-container {
  position: relative;
  width: 650px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
}

#start-panel-component {
  transition: margin-left 1s;
}

.start-panel-component-center {
  margin-left: 155px;
}

#start-panel-logos {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

.start-panel-not-visible {
  opacity: 0;
}

.start-panel-visible {
  opacity: 1;
  transition: all 1s;
}

.start-panel-logos-middle {
  top: 153px;
}

.logos-top {
  top: 12px;
}

.start-panel-logos-collapsed .start-panel-logo {
  margin-bottom: -55px;
}

.start-panel-logos-expanded .start-panel-logo {
  margin-bottom: 15px;
}

.start-panel-logos-left {
  left: 395px;
}

.start-panel-logo {
  background-color: white;
  border-radius: 10px;
  width: 54px;
  height: 55px;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
  display: inline-block;
  transition: margin-bottom 1s;
  cursor: pointer;
  user-select: none;
}

.start-panel-logo:hover {
  background-color: rgb(233, 233, 233);
}

#message-line {
  position: absolute;
  top: 180px;
  left: 345px;
  z-index: -4;
  height: 1.5px;
  background-color: #c5c5c5;
  transition: width 1s;
}

.message-line-short {
  width: 0px;
}

.message-line-long {
  width: 175px;
}

#message-bubble {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background-color: #d1d1d1;
  position: absolute;
  top: 173px;
  left: 325px;
  z-index: -3;
}

.message-bubble-animation {
  animation: message-bubble-animation 4s infinite;
}

@keyframes message-bubble-animation {
  40% {
    left: 325px;
    background-color: #d1d1d1;
  }
  70% {
    left: 510px;
    background-color: #d1d1d1;
  }
  71% {
    left: 510px;
    background-color: #0084ff;
  }
  100% {
    left: 330px;
    background-color: #0084ff;
  }
}

@media (max-height: 830px) {
  #start-panel-content {
    top: 43%;
  }
  #start-panel-animation-content-container {
    margin-top: 60px;
  }
}

@media (max-height: 770px) {
  #start-panel-content {
    top: 45%;
  }
}

@media (max-height: 705px) {
  #start-panel-animation-content-container {
    margin-top: 40px;
  }
}

@media (max-height: 670px) {
  #start-panel-animation-content-container {
    margin-top: 30px;
  }
}

@media (max-width: 1250px) {
  #start-panel-sub-header {
    font-size: 2.3rem;
  }
  #start-panel-animation-content-container {
    padding-left: 10px;
  }
}

@media (max-width: 945px) {
  #start-panel-content {
    top: 48%;
  }
}

@media (max-width: 880px) {
  #start-panel-animation-content-container {
    width: 590px;
  }
  #start-panel-header {
    font-size: 3.3rem;
  }
  #start-panel-sub-header {
    font-size: 2rem;
  }
  .start-panel-component-center {
    margin-left: 120px;
  }
  .start-panel-logos-left {
    left: 345px;
  }
}

@media (max-width: 753px) {
  #start-panel {
    min-height: 512px;
  }
  #start-panel-header {
    font-size: 2.9rem;
    margin-top: 10px;
  }
  #start-panel-sub-header {
    font-size: 1.6rem;
    width: 92%;
    margin-left: 4%;
  }
  #start-panel-animation-content-container {
    margin-left: -5px;
  }
}

@media (max-width: 720px) {
  #start-panel-animation-content-container {
    width: 500px;
    margin-left: -10px;
    padding-left: 0px;
  }
  .start-panel-component-center {
    margin-left: 110px;
  }
}

@media (max-width: 694px) {
  #start-panel-animation-content-container {
    margin-left: -20px;
  }
}

@media (max-width: 650px) {
  #start-panel-animation-content-container {
    margin-left: -30px;
  }
}

@media (max-width: 641px) {
  #start-panel-sub-header {
    width: 100%;
    margin-left: 0%;
  }
}

@media (max-width: 630px) {
  #start-panel-animation-content-container {
    margin-left: -35px;
  }
}

@media (max-width: 620px) {
  #start-panel-animation-content-container {
    margin-left: -45px;
  }
}

@media (max-width: 605px) {
  #start-panel-sub-header {
    width: 109%;
    margin-left: -5%;
  }
}

@media (max-width: 594px) {
  #start-panel-animation-content-container {
    margin-left: -50px;
  }
}

@media (max-width: 580px) {
  #start-panel-animation-content-container {
    margin-left: -57px;
  }
}

@media (max-width: 573px) {
  #start-panel-animation-content-container {
    margin-left: -63px;
  }
}

@media (max-width: 562px) {
  #start-panel-animation-content-container {
    margin-left: -67px;
  }
}

@media (max-width: 557px) {
  #start-panel-animation-content-container {
    display: none;
  }
  #small-screen-component {
    margin-top: 5px;
    display: flex;
  }
  #start-panel-content {
    width: 100%;
    left: 0px;
  }
  #start-panel {
    min-height: 483px;
  }
  #start-panel-header {
    margin-bottom: 10px;
  }
  #start-panel-sub-header {
    width: 92%;
    margin-left: 4%;
    margin-bottom: 5px;
  }
}

@media (max-width: 513px) {
  #small-screen-component {
    margin-top: 10px;
  }
  #start-panel {
    min-height: 479px;
  }
  #start-panel-content {
    top: 50%;
  }
  #footer {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 415px) {
  #small-screen-component {
    margin-top: -5px;
  }
  #start-panel {
    height: calc(100vh - 121px) !important;
    min-height: 472px;
  }
}

@media (max-width: 348px) {
  #start-panel {
    min-height: 461px;
  }
  #start-panel-content {
    top: 52%;
  }
  #start-panel-sub-header {
    margin-bottom: 0px;
  }
  #small-screen-component {
    margin-top: -10px;
    transform: scale(0.8);
  }
}

@media (max-width: 286px) {
  #small-screen-component {
    margin-top: -25px;
  }
}

@media (max-width: 260px) {
  #start-panel {
    min-height: 400px;
  }
  #start-panel-content {
    top: 46%;
  }
  #start-panel-sub-header {
    margin-top: 5px;
  }
  #small-screen-component {
    display: none;
  }
  #small-screen-deep-chat-logo {
    display: block;
  }
}

@media (max-width: 232px) {
  #start-panel {
    height: calc(100vh - 144px) !important;
  }
}

@media (max-width: 286px) and (max-height: 380px) {
  #small-screen-component {
    display: none;
  }
  #small-screen-deep-chat-logo {
    display: block;
  }
  #start-panel {
    min-height: 358px;
  }
  #small-screen-deep-chat-logo {
    margin-top: 5px;
  }
}

/* needs to be here for start-panel-component-center to take effect for different screen sizes */
/* need !important for build/serve website */
.start-panel-component-left {
  margin-left: 45px !important;
}

/* needs to be here for start-panel-logos-left to take effect for different screen sizes */
/* need !important for build/serve website */
.start-panel-logos-right {
  left: 495px !important;
}
