@import url('./views/insertKey/insertKeyView.css');
@import url('./views/chat/chatView.css');

:host {
  /* this property prevents outside styles from affecting this component */
  all: initial;
}

#container {
  height: 350px;
  width: 320px;
  border: 1px solid #cacaca;
  font-family: Söhne, ui-sans-serif, system-ui;
  font-size: 0.9rem;
  background-color: white;
}
