@import url('./views/insertKey/insertKeyView.css');
@import url('./views/chat/chatView.css');

:host {
  /* this property prevents outside styles from affecting this component */
  all: initial;
}

#ai-assistant-container {
  width: 400px;
  height: 300px;
  border: 1px solid grey;
  border-radius: 3px;
  font-family: Söhne, ui-sans-serif, system-ui;
  font-size: 14px;
  background-color: white;
}
