@import url('./views/validateKeyProperty/validateKeyPropertyView.css');
@import url('./views/insertKey/insertKeyView.css');
@import url('./views/error/errorView.css');
@import url('./views/chat/chatView.css');

:host {
  /* this property prevents outside styles from affecting this component */
  all: initial;
  /* keeps child absolute elements in place */
  display: inline-block;
}

#container {
  height: 350px;
  width: 320px;
  border: 1px solid #cacaca;
  font-family: 'Inter', sans-serif, Avenir, Helvetica, Arial;
  font-size: 0.9rem;
  background-color: white;
  position: relative;
}
