@import url('./introPanel/introPanel.css');
@import url('./messages/messages.css');
@import url('./messages/avatar.css');
@import url('./messages/name.css');
@import url('./input/input.css');

#chat {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
}
