@import url('./introPanel/introPanel.css');
@import url('./messages/messages.css');
@import url('./messages/avatar.css');
@import url('./messages/name.css');
@import url('./input/input.css');

#chat-view {
  height: 100%;
  grid-template-columns: 100%;
}

.deep-chat-downwards-mode {
  display: grid;
}

.deep-chat-upwards-mode {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}
