.modal-camera-content {
  overflow: hidden;
  text-align: center;
  border: unset;
  height: 100%;
  background-color: rgb(42, 42, 42);
  display: flex;
  justify-content: center;
}

.camera-modal-canvas {
  max-width: 100%;
  max-height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.modal-svg-submit-button {
  background-color: green;
}

.modal-svg-submit-button:hover {
  background-color: rgb(0, 117, 0);
}

.modal-svg-submit-button:active {
  background-color: rgb(0, 101, 0);
}

.modal-svg-submit-disabled {
  pointer-events: none;
  background-color: #747474;
}

.modal-svg-close-button {
  height: 1.56em;
  padding-top: 0.37em;
  padding-bottom: 0px;
  background-color: #c13e3e;
}

.modal-svg-close-button:hover {
  background-color: #b43434;
}

.modal-svg-close-button:active {
  background-color: #972929;
}

.modal-svg-close-icon {
  width: 80%;
  height: 80%;
}

.modal-svg-camera-button {
  height: 1.6em;
  padding-top: 0.38em;
  padding-bottom: 0px;
}

.modal-svg-camera-icon {
  height: 76%;
}

.modal-svg-refresh-icon {
  height: 105%;
}

.modal-svg-refresh-button {
  height: 1.66em;
  padding-top: 0.11em;
  padding-bottom: 0.21em;
}
