@import url('./dragAndDrop/dragAndDrop.css');

#file-attachment-container {
  position: absolute;
  height: 3.6em;
  width: calc(80% - 4px);
  top: -2.5em;
  border-radius: 5px;
  overflow: auto;
  overflow: auto;
  text-align: left;
  background-color: #d7d7d73b;
  padding-left: 4px;
  /* different UX here - test */
  /* width: 100%;
  left: 0px;
  text-align: center; */
}

.file-attachment {
  width: 2.85em;
  height: 2.85em;
  display: inline-flex;
  margin-right: 0.6em;
  margin-bottom: 0.44em;
  margin-top: 4px;
  position: relative;
  background-color: white;
  border-radius: 5px;
}

.image-attachment {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.border-bound-attachment {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  overflow: hidden;
}

.border-bound-attachment-safari {
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.audio-attachment-icon-container {
  cursor: pointer;
}

.audio-attachment-icon-container:hover {
  background-color: rgb(248, 248, 248);
}

.attachment-icon {
  left: 0;
  right: 0;
  bottom: 0;
  top: 2px;
  margin: auto;
  position: absolute;
  width: 25px;
  user-select: none;
}

.not-removable-attachment-icon {
  inset: 0;
}

.play-icon {
  filter: brightness(0) saturate(100%) invert(17%) sepia(0%) saturate(1392%) hue-rotate(67deg) brightness(98%)
    contrast(97%);
}

.stop-icon {
  filter: brightness(0) saturate(100%) invert(29%) sepia(90%) saturate(1228%) hue-rotate(198deg) brightness(93%)
    contrast(98%);
}

.audio-placeholder-text-3-digits {
  padding-left: 0.26rem;
}

.audio-placeholder-text-4-digits {
  padding-left: 0.1rem;
}

.any-file-attachment {
  padding: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.file-attachment-text-container {
  position: absolute;
  width: inherit;
  display: flex;
  align-items: center;
  height: 100%;
  top: -1px;
}

.audio-placeholder-text-3-digits-container {
  padding-top: 1px;
  cursor: default;
}

.any-file-attachment-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 0.13em;
  margin-left: auto;
  margin-right: auto;
}

.remove-file-attachment-button {
  height: 1.25em;
  width: 1.25em;
  border: 1px solid #cfcfcf;
  border-radius: 25px;
  background-color: white;
  top: -4px;
  right: -5px;
  position: absolute;
  display: flex;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.remove-file-attachment-button:hover {
  background-color: rgb(228, 228, 228);
}

.remove-file-attachment-button:active {
  background-color: rgb(215, 215, 215);
}

.x-icon {
  color: rgb(78, 78, 78);
  top: -0.075em;
  position: relative;
  font-size: 1.05em;
}
