@import url('./fileAttachments/fileAttachments.css');
@import url('./sideContainers/sideContainers.css');
@import url('./keyboardInput/keyboardInput.css');
@import url('./fileAttachments/modal/modal.css');
/* cameraModal needs to be imported after modal */
@import url('./fileAttachments/modal/cameraModal.css');
@import url('./buttons/inputButton.css');
@import url('./dropup/dropup.css');

#input {
  width: 80%;
  display: inline-flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  position: relative;
}
