.dots-loading {
  position: relative;
  left: calc(-9990px + 0.25rem);
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 5px;
  background-color: #848484;
  color: #848484;
  box-shadow: 9990px 0 0 0 #848484, calc(9990px + 0.4rem) 0 0 0 #848484, calc(9990px + 0.8rem) 0 0 0 #848484;
  animation: dots-loading 1.5s infinite linear;
  bottom: -0.7rem;
}

@keyframes dots-loading {
  0% {
    box-shadow: 9990px 0 0 0 #848484, calc(9990px + 0.4rem) 0 0 0 #848484, calc(9990px + 0.8rem) 0 0 0 #848484;
  }
  16.667% {
    box-shadow: 9990px -6px 0 0 #848484, calc(9990px + 0.4rem) 0 0 0 #848484, calc(9990px + 0.8rem) 0 0 0 #848484;
  }
  33.333% {
    box-shadow: 9990px 0 0 0 #848484, calc(9990px + 0.4rem) 0 0 0 #848484, calc(9990px + 0.8rem) 0 0 0 #848484;
  }
  50% {
    box-shadow: 9990px 0 0 0 #848484, calc(9990px + 0.4rem) -6px 0 0 #848484, calc(9990px + 0.8rem) 0 0 0 #848484;
  }
  66.667% {
    box-shadow: 9990px 0 0 0 #848484, calc(9990px + 0.4rem) 0 0 0 #848484, calc(9990px + 0.8rem) 0 0 0 #848484;
  }
  83.333% {
    box-shadow: 9990px 0 0 0 #848484, calc(9990px + 0.4rem) 0 0 0 #848484, calc(9990px + 0.8rem) -6px 0 0 #848484;
  }
  100% {
    box-shadow: 9990px 0 0 0 #848484, calc(9990px + 0.4rem) 0 0 0 #848484, calc(9990px + 0.8rem) 0 0 0 #848484;
  }
}
