#submit-icon {
  height: 100%;
  filter: brightness(0) saturate(100%) invert(32%) sepia(0%) saturate(924%) hue-rotate(46deg) brightness(95%) contrast(99%);
}

#stop-icon {
  background-color: #acacac;
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  left: 0.3rem;
  bottom: 0.3rem;
  border-radius: 2px;
}
