#submit-icon {
  position: absolute;
  left: -4px;
  bottom: -1px;
}

#stop-icon {
  background-color: #acacac;
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
}
