#submit-icon {
  height: 100%;
  filter: brightness(0) saturate(100%) invert(32%) sepia(0%) saturate(924%) hue-rotate(46deg) brightness(95%) contrast(99%);
  width: 1.21em;
}

#stop-icon {
  background-color: #acacac;
  position: absolute;
  width: 0.95em;
  height: 0.95em;
  left: 0.35em;
  bottom: 0.35em;
  border-radius: 2px;
}

.submit-button-enlarged {
  scale: 1.1;
  margin-right: 0.3em;
  margin-left: 0.3em;
}

.loading-submit-button {
  position: relative;
  left: calc(-9990px + 0.275em);
  width: 0.22em;
  height: 0.22em;
  border-radius: 5px;
  background-color: #848484;
  color: #848484;
  box-shadow:
    9990px 0 0 0 #848484,
    calc(9990px + 0.44em) 0 0 0 #848484,
    calc(9990px + 0.8em) 0 0 0 #848484;
  animation: loading-submit-button 1.5s infinite linear;
  bottom: -0.75em;
}

@keyframes loading-submit-button {
  0% {
    box-shadow:
      9990px 0 0 0 #848484,
      calc(9990px + 0.44em) 0 0 0 #848484,
      calc(9990px + 0.8em) 0 0 0 #848484;
  }
  16.667% {
    box-shadow:
      9990px -6px 0 0 #848484,
      calc(9990px + 0.44em) 0 0 0 #848484,
      calc(9990px + 0.8em) 0 0 0 #848484;
  }
  33.333% {
    box-shadow:
      9990px 0 0 0 #848484,
      calc(9990px + 0.44em) 0 0 0 #848484,
      calc(9990px + 0.8em) 0 0 0 #848484;
  }
  50% {
    box-shadow:
      9990px 0 0 0 #848484,
      calc(9990px + 0.44em) -6px 0 0 #848484,
      calc(9990px + 0.8em) 0 0 0 #848484;
  }
  66.667% {
    box-shadow:
      9990px 0 0 0 #848484,
      calc(9990px + 0.44em) 0 0 0 #848484,
      calc(9990px + 0.8em) 0 0 0 #848484;
  }
  83.333% {
    box-shadow:
      9990px 0 0 0 #848484,
      calc(9990px + 0.44em) 0 0 0 #848484,
      calc(9990px + 0.8em) -6px 0 0 #848484;
  }
  100% {
    box-shadow:
      9990px 0 0 0 #848484,
      calc(9990px + 0.44em) 0 0 0 #848484,
      calc(9990px + 0.8em) 0 0 0 #848484;
  }
}
