#insert-key {
  height: 100%;
  position: relative;
}

#insert-key-contents {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

#insert-key-title {
  margin-bottom: 15px;
}

#insert-key-input-container {
  width: calc(100% - 95px);
  display: inline-block;
}

#insert-key-input {
  padding: 5px 20px 4px 4px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  width: 100%;
}

.insert-key-input-valid {
  border-color: grey;
}

.insert-key-input-invalid {
  border-color: red;
}

#visibility-icon-container {
  position: relative;
  float: right;
  cursor: pointer;
  user-select: none;
}

.visibility-icon {
  filter: brightness(0) saturate(100%) invert(86%) sepia(0%) saturate(7484%) hue-rotate(125deg) brightness(92%)
    contrast(90%);
  position: absolute;
}

.visibility-icon:hover {
  filter: unset;
}

.visibility-icon > * {
  pointer-events: none;
}

#visible-icon {
  right: -23px;
  top: -20px;
}

#not-visible-icon {
  right: -22px;
  top: -19px;
}

#start-button {
  float: right;
  margin-left: 24px;
  border: 1px solid grey;
  color: #454545;
  border-radius: 4px;
  width: 46px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1px;
  padding-top: 0.5px;
  padding-bottom: 1.5px;
  user-select: none;
}

#start-button:hover {
  background-color: #f2f2f2;
}

#start-button:active {
  background-color: #d2d2d2;
}

#insert-key-help-text-container {
  position: relative;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-right: 30px;
}

#insert-key-help-text-contents {
  margin-top: 10px;
  position: absolute;
  transform: translateX(50%);
}

#insert-key-input-invalid-text {
  display: block;
  margin-top: 5px;
  margin-bottom: 12px;
  padding-left: 2px;
  font-size: 15px;
  color: red;
}

#insert-key-input-help-link {
  display: block;
  margin-top: 10px;
}

#loading-ring {
  display: inline-block;
  width: 16px;
  height: 16px;
}

#loading-ring:after {
  content: ' ';
  display: block;
  width: 11px;
  height: 11px;
  margin: 1px;
  border-radius: 50%;
  border: 2px solid #0084ff;
  border-color: #0084ff transparent #0084ff transparent;
  animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
