#playground-export-modal-checkbox-description {
  font-size: 15px;
  margin-top: 5px;
}

#playground-export-modal-checkbox {
  margin-left: 2px;
  margin-right: 7px;
  margin-top: 5px;
  float: left;
}
