#customize {
  margin-bottom: 200px;
}

#customize-sub-header {
  margin-bottom: 80px;
}

#customize-content {
  display: flex;
  justify-content: center;
}

.customize-content-bottom {
  margin-top: 350px;
}

.customize-content-top {
  transition: all 2s ease-out;
  margin-top: 0px;
}
