#customization {
  /* margin-top: 140px; */
}

#customization-top {
  display: flex;
  margin-top: 30px;
}

.customization-panel {
  width: 50%;
}

.customization-panel-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.customize-content-top {
  transition: all 2s ease-out;
  margin-top: 0px;
}

.customize-content-bottom {
  margin-top: 350px;
}
