#playground-config-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  border: 1px solid grey;
  border-radius: 5px;
  z-index: 2;
  text-align: left;
  background-color: white;
  padding: 20px;
  padding-top: 10px;
}
