<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>&lt;Ai Assistant> Demo</title>
    <script type="module" src="src/aiAssistant.ts"></script>
    <style>
      html,
      body {
        height: 100%;
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <ai-assistant id="chat-element"></ai-assistant>
    <script type="module">
      const chatElement = document.getElementById('chat-element');
      // chatElement.onNewMessage = (result) => {
      //   console.log(result);
      // };
      // chatElement.initialMessages = [
      //   {role: 'user', content: 'Hey'},
      //   {role: 'assistant', content: 'how are you today'},
      // ];
      // chatElement.auxiliaryStyle = `
      // ::-webkit-scrollbar {
      //   height: 1rem;
      //   width: 0.5rem;
      // }

      // ::-webkit-scrollbar-thumb {
      //   background-color: red;
      // }`;
      // chatElement.errorMessageOverrides = {
      //   text: 'asdasdasd',
      // };
      // chatElement.avatars = {
      //   styles: {
      //     default: {
      //       container: {
      //         marginTop: '10px',
      //       },
      //       avatar: {
      //         padding: 'unset',
      //       },
      //       position: 'left',
      //     },
      //   },
      // };
      // chatElement.messageStyles = {
      //   default: {
      //     outerContainer: {
      //       borderBottom: '1px solid #c3c3c3',
      //     },
      //     innerContainer: {
      //       width: '90%',
      //       marginLeft: 'auto',
      //       marginRight: 'auto',
      //     },
      //     text: {
      //       color: 'rgba(52, 53, 65)',
      //       margin: 'unset',
      //       padding: 'unset',
      //       maxWidth: 'unset',
      //       border: 'unset',
      //       paddingTop: '12px',
      //       paddingBottom: '10px',
      //       width: 'inherit',
      //       backgroundColor: 'unset',
      //     },
      //   },
      //   user: {
      //     outerContainer: {
      //       backgroundColor: 'white',
      //     },
      //   },
      //   ai: {
      //     outerContainer: {
      //       backgroundColor: '#f3f3f3',
      //     },
      //   },
      // };
      // chatElement.names = {
      //   default: {
      //     style: {
      //       minWidth: '36px',
      //     },
      //   },
      //   user: {
      //     text: 'me:',
      //     style: {
      //       color: 'blue',
      //     },
      //   },
      //   ai: {
      //     text: 'ai:',
      //     style: {
      //       color: 'green',
      //     },
      //   },
      // };
      // chatElement.openAI = {
      //   completions: {
      //     temperature: 0.9,
      //     stream: true,
      //     max_tokens: 200
      //   },
      // };
      // chatElement.requestSettings = {
      //   url: 'http://127.0.0.1:3000/v1/chat/completions',
      // };
    </script>
  </body>
</html>
